body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-indent: 10px;
    color: white;
    background-color: steelblue;
}

.mainView {
    display: flex;
}

/* TOOLBAR */

#Toolbar {
    position: absolute;
    background-color: lightgray;
}

h3 {
    margin: 10px 20px;
    display: inline-flex;
    width: 60px;
}

.onView {
    opacity: 0.5;
    
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

input[type=file]{ 
    color:transparent;
}

/* DISPLAY */

.hideElement {
    display: none;
}

.link {
    stroke: rgb(110, 110, 110);
    fill: none;
    stroke-width: 1;
}

.node circle {
    fill: rgba(0, 0, 0, 0.527);
    cursor: pointer;
}

.node-collapsed circle {
    fill: rgb(0, 108, 180);
}

.node-normalized circle {
    r: 3;
}

.nodeLabel  {
    /* Makes the text much easier to read */
    text-shadow: 
    -1px -1px 3px white,
    -1px  1px 3px white,
    1px -1px 3px white,
    1px  1px 3px white;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: 15px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
