html, body {
    height: 97%;
}

.sidebar-item {
    margin-bottom: 0.5em;
}

#uploaded-files {
    background-color: rgb(236, 236, 236);
}

#mini-chart {
    background-color: rgb(236, 236, 236);
    height: 300px;
}

svg {
    width: 100%;
    height: 100%;
}
